<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twt.service.theory">

    <application>
        <activity android:name=".view.UserActivity"></activity>
        <activity android:name=".view.TheoryActivity" />
    </application>

</manifest>