<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avarye.mall">

    <application>
        <activity
            android:name=".mine.ListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".mine.MineActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.SearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".post.PostActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".detail.DetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.MallActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>