<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avarye.mall">

    <application>
        <activity android:name=".mine.ListActivity"/>
        <activity android:name=".mine.MineActivity"/>
        <activity android:name=".main.SearchActivity" />
        <activity android:name=".post.PostActivity" />
        <activity android:name=".detail.DetailActivity" />
        <activity android:name=".main.MallActivity" />
    </application>

</manifest>