<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.twtstudio.retrox.gpa">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <activity
            android:name=".view.GpaActivity"
            android:theme="@style/GPATheme">
            <intent-filter>
                <action android:name="com.twt.gpa.action.DYNAMIC_OPEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.EvaluateListActivity"
            android:theme="@style/GPATheme"/>

        <activity android:name=".view.EvaluateDetailActivity"/>
    </application>

</manifest>
