<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.twtstudio.retrox.gpa">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

        <activity android:name=".view.GpaActivity" android:theme="@style/GPATheme"/>
    </application>

</manifest>
