<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.rickygao.gpa2">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".view.GpaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Gpa2Theme">
            <intent-filter>
                <action android:name="xyz.rickygao.gpa2.DYNAMIC_OPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.EvaluateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Gpa2Theme" />
        <activity
            android:name=".view.GpaLineActivity"
            android:label="@string/title_activity_gpa_line"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>