<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twt.service.schedule2" >
    <application>
        <activity android:name=".view.custom.AddCustomCourseActivity"/>
        <activity android:name=".view.schedule.ScheduleActivity" android:exported="true"/>
    </application>
</manifest>
